.games__container {
  padding: 25px 15px;
}

.games__desc {
  background-color: #ed0233;
  padding: 38px 36px 40px 40px;
}

.games__info {
  display: flex;
  flex-direction: row;
}

.games__info-tables {
  display: flex;
  flex-direction: column;
}

.games__info-title {
  text-transform: uppercase;
  font-family: $alumni-semibold;
  font-size: 48px;
  line-height: 54px;
  color: #ffffff;
  margin: 0;
}

.games__info-date {
  position: relative;
  font-family: $roboto-light;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 300;
  text-align: left;
  padding-bottom: 3px;

  &::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 1px;
    top: 23px;
    right: 4px;
    background-color: #ffffff;
  }
}

.games__info-number {
  font-family: $roboto-bold;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.games__info-month {
  font-family: $roboto-regular;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
  font-weight: normal;
}

.games__info-year {
  font-family: $roboto-regular;
  font-size: 12px;
  line-height: 100%;
  color: #ffffff;
}

.games__info-time {
  position: relative;
  font-family: $roboto-light;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  font-weight: normal;
  text-align: left;
  padding-left: 0px;

  &::after {
    content: "";
    position: absolute;
    width: 56px;
    height: 1px;
    top: 23px;
    right: 2px;
    background-color: #ffffff;
  }
}

.games__info-clock {
  font-family: $roboto-bold;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
  padding-right: 2px;
}

.games__info-table {
  border-spacing: 0px 0px;
}
