.hero {
  background: linear-gradient(90deg, #1C3477 0%, #1C3477 0.01%, #1A3578 39.11%, #73184B 75.5%, #B4022A 100%);
  height: auto;
}

.hero__container {
  padding: 16px 15px 32px 15px;

  @media (min-width: $tablet-width) {
    padding: 31px 45px 95px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 103px 116px 103px;
  }
}

.hero__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 63px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 58px;
  }
}

.hero__info {
  display: flex;
  flex-direction: row;
}

.hero__logo-icon--mobile {

  @media (min-width: $tablet-width) {
    display: none;
  }

}

.hero__logo-icon--tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

}

.hero__logo-icon--desktop {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }

}

.hero__phone {
  font-family: $roboto-bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.1px;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0px;
    padding-top: 2px;
    margin-right: -1px;
  }
}

.hero__list {
  font-family: $roboto-regular;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 110px;
  white-space: nowrap;
  text-align: right;

  @media (min-width: $tablet-width) {
    line-height: 22px;
    margin-top: 162px;
  }

  @media (min-width: $desktop-width) {
    line-height: 22px;
    margin-top: 230px;
    margin-left: 78px;
  }
}

.hero__text-subtitle {
  font-family: $alumni-semibold;
  font-size: 32px;
  line-height: 32px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
    margin-top: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
    letter-spacing: 0px;
    margin-top: 52px;
    margin-right: 25px;
  }
}

.hero__text-title {
  font-family: $alumni-extrabold;
  font-size: 62px;
  line-height: 62px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  text-align: right;
  text-transform: uppercase;
  margin-top: 13px;
  letter-spacing: 0.8px;

  @media (min-width: $tablet-width) {
    font-size: 72px;
    line-height: 85px;
    margin-top: 10px;
    letter-spacing: 2px;
    margin-right: -1px;
  }

  @media (min-width: $desktop-width) {
    font-size: 92px;
    line-height: 110px;
    letter-spacing: 0px;
    margin-top: 41px;
    margin-right: 26px;
    letter-spacing: 4px;
  }
}

.hero__link {
  font-family: $roboto-bold;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 22px 88px 22px 90px;
  border: 2px solid #ffffff;
  display: block;
  margin-top: 47px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    padding: 19px 37px 21px 37px;
    margin-left: 139px;
    margin-top: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 190px;
    margin-top: 39px;
    padding: 25px 79px 25px 80px;
  }
}

.hero__image {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;;
  }
}

.hero__data {
  display: flex;
  flex-direction: row;
  gap: 30px;

  @media (min-width: $desktop-width) {
    padding: 0 72px;
  }
}
