.price {
  position: relative;
  overflow: hidden;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      z-index: 1;
      width: 275px;
      height: 328px;
      background-image: url("../../img/inventory@1x.png");
      background-size: cover;
      background-repeat: no-repeat;
      right: -13px;
      bottom: 13px;
      transform: rotate(150deg);
    }

    @media (min-width: $desktop-width) {
      right: -94px;
      bottom: 11px;
      transform: rotate(150deg);
      width: 318px;
      height: 375px;
    }
  }
}

.price__container {
  padding: 40px 15px;
  background-color: rgba(248, 249, 252, 1);

  @media (min-width: $tablet-width) {
    padding: 60px 194px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 103px;
  }
}

.price__title {
  margin: 0;
  font-family: $alumni-semibold;
  font-size: 32px;
  line-height: 32px;
  color: rgba(16, 38, 84, 1);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 54px;
    line-height: 54px;
  }
}

.price__background-image {
  display: none;
}

.price__list {
  margin: 0;
  padding: 32px 0 6px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 45px;
  font-family: $roboto-regular;
  font-size: 16px;
  line-height: 16px;
  color: rgba(16, 38, 84, 0.5);
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @media (min-width: $tablet-width) {
    width: 313px;
    margin-left: 34px;
    font-size: 18px;
    line-height: 18px;
    padding-top: 37px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 20px;
    width: 345px;
    margin: 0 auto;
    justify-content: space-around;
    padding-top: 19px;
  }
}

.price__info {
  list-style-type: none;
  padding: 32px 0 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 41px;
  }
}

.price__tryptych-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 37px;

  @media (min-width: $tablet-width) {
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 44px;
  }
}

.price__tryptych-item {
  padding: 50px 42px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 37px 42px 65px;
    position: relative;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 65px 61px 65px 65px;
  }

  &::before {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    padding: 10px;
  }
}

.price__tryptych-item:has(.price__info-link:hover) {
  &::before {
    display: block;
  }
}

.price__tryptych-item:has(.price__info-link:focus-visible) {
  &::before {
    display: block;
  }
}

.price__list-item {
  &:hover {
    cursor: pointer;
    color: rgba(16, 38, 84, 0.7);
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: rgba(120, 120, 120, 1);
    text-decoration-thickness: 2px;
  }

  &:focus-visible {
    outline: none;
    color: rgba(16, 38, 84, 1);
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: rgba(16, 38, 84, 1);
    text-decoration-thickness: 2px;
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.3);
    text-decoration: underline;
    text-underline-offset: 9px;
    text-decoration-color: rgba(16, 38, 84, 0.3);
    text-decoration-thickness: 2px;
  }
}

.price__list-item--active {
  text-decoration: underline;
  text-underline-offset: 9px;
  text-decoration-color: rgba(209, 10, 66, 1);
  text-decoration-thickness: 2px;
  color: rgba(16, 38, 84, 1);
  pointer-events: none;
}

.price__info-title {
  margin: 0;
  font-family: $roboto-bold;
  font-size: 22px;
  line-height: 22px;
  color: rgba(16, 38, 84, 1);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    padding-top: 28px;
  }

  @media (min-width: $desktop-width) {
    font-size: 26px;
    line-height: 26px;
    padding-top: 1px;
    margin-right: 2px;
  }
}

.price__info-subtitle {
  margin: 0;
  padding-top: 17px;
  font-family: $roboto-light;
  font-size: 14px;
  line-height: 22px;
  color: rgba(16, 38, 84, 1);
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
  }
}

.price__info-data {
  padding-top: 65px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }
}

.price__info-value {
  position: relative;
  font-family: $roboto-bold;
  font-size: 48px;
  line-height: 150%;
  color: rgba(16, 58, 174, 1);
  z-index: 0;
  margin-right: 5px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-right: 9px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 150%;
    margin-right: 13px;
    padding-left: 3px;
  }

  &::before {
    content: attr(data-price);
    position: absolute;
    display: block;
    font-size: 80px;
    color: rgba(232, 232, 232, 0.48);
    z-index: -1;
    top: -31px;
    right: -47px;

    @media (min-width: $tablet-width) {
      font-size: 100px;
      top: -38px;
      right: -62px;
    }

    @media (min-width: $desktop-width) {
      font-size: 100px;
      top: -71px;
      right: -64px;
      line-height: 150%;
    }
  }
}

.price__info-icon {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 30px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 4px;
  }
}

.price__info-link {
  position: relative;
  margin-top: 18px;
  padding: 25px 47px;
  text-transform: uppercase;
  font-family: $roboto-bold;
  font-size: 12px;
  line-height: 12px;
  color: rgba(16, 38, 84, 1);
  border: 2px solid rgba(16, 38, 84, 1);

  &::before {
    visibility: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(148.82deg, #D10A42 0.85%, #00359F 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    padding: 2px;
  }


  @media (min-width: $tablet-width) {
    margin-top: 23px;
    padding: 25px 70px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 17px;
    padding: 25px 60px;
  }

  &:hover {
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
    border: 2px solid #ffffff;
    color: rgba(255, 255, 255, 1);
  }

  &:focus-visible {
    background: linear-gradient(97.05deg, rgba(237, 2, 51, 0.8) 17.6%, rgba(0, 62, 183, 0.8) 95.31%);
    outline: none;
  }

  &:active {
    border: 2px solid #ffffff;
    color:rgba(255, 255, 255, 0.7);
  }

  &:disabled {
    background: #fff;
    color: rgba(16, 38, 84, 0.3);
    border: 2px solid rgba(16, 38, 84, 0.3);
  }
}

