$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1366px;

$roboto-regular: "Roboto Condensed Regular", "Arial", sans-serif;
$roboto-bold: "Roboto Condensed Bold", "Arial", sans-serif;
$alumni-extrabold: "Alumni Sans Extrabold", "Arial", sans-serif;
$alumni-semibold: "Alumni Sans Semibold", "Arial", sans-serif;
